html, body {
	min-height: 100vh;
}

body {
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
